REPLACE_OS_VARS=true

RELEASE_PROD_COOKIE=rel_prod_cookie

PGDATA=/var/lib/postgresql/data/pgdata

SENTRY_DSN=sentry_error_tracking_dsn

POSTGRES_HOST=database
POSTGRES_DB=amethyst
POSTGRES_USER=amethyst
POSTGRES_PASSWORD=
